@import url("fonts.css");

:root {
  --general-white: #ffffff;
  --accent-yellow: #f5bd41;
  --text-color: #383838;
  --button-color: #3077c6;
  --general-blue: #10367c;
  --gray-line: #bfbfbf;
  --light-blue: #eaf0f9;
  --stroke-color: #f3f3f4;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--general-white);
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 24px;
}

/*top-section's styles*/
.top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../Images/castelmezzano.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%;
}

.top-section__header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  margin-top: 50px;
  padding: 0 104px;
  font-weight: 400;
  color: var(--general-white);
}

.top-section__logo {
  width: 205px;
  height: 40px;
  background-image: url("../Images/header-icons.svg");
  background-position: 0 40px;
  margin: 0;
}

.top-section__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 0;
}

.top-section__header-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  height: 46px;
  font-weight: 400;
  font-size: 24px;
}

.header-active-1 {
  position: relative;
}

.header-active-2 {
  position: relative;
}

.top-section__main-1 {
  content: "";
  position: absolute;
  transform: translate(5px, 25px);
  background-color: var(--accent-yellow);
  height: 4px;
  width: 50px;
  display: none;
}

.top-section__main-2 {
  content: "";
  position: absolute;
  transform: translate(125px, 25px);
  background-color: var(--accent-yellow);
  height: 4px;
  width: 50px;
  display: none;
}

.header-active-1:hover ~ .top-section__main-1 {
  display: block;
}

.header-active-2:hover ~ .top-section__main-2 {
  display: block;
}

.hamburger-menu {
  display: none;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 7px;
  width: 26px;
  height: 71px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--general-white);
  transition-duration: 0.25s;
}
.menu-btn > span::before {
  content: "";
  top: -8px;
}
.menu-btn > span::after {
  content: "";
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--general-blue);
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: var(--general-white);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu-item:hover {
  background-color: var(--general-blue);
}

#menu {
  opacity: 0;
}

#menu:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
#menu:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu:checked ~ .menubox {
  visibility: visible;
  right: 0;
}

.top-section__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.top-section__logo-night {
  border: none;
  background-color: unset;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-position: 347px -5px;
  background-image: url("../Images/header-icons.svg");
}

.top-section__logo-account {
  border: none;
  background-color: unset;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-position: 316px 0;
  background-image: url("../Images/header-icons.svg");
}

.top-section__main-title {
  margin-top: 122px;
  padding-left: 104px;
  font-size: 50px;
  color: var(--general-white);
}

.label {
  display: flex;
  justify-content: flex-start;
  gap: 234px;
  margin: 100px 0 24px;
  font-size: 18px;
  color: var(--general-white);
}

.top-section__search-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding-left: 100px;
}

.top-section__search-box {
  display: flex;
  border-radius: 8px;
}

.top-section__search {
  height: 70px;
  border-radius: 8px;
  background-color: var(--general-white);
}

.top-section__destination {
  width: 471px;
  height: 67px;
  border: 8px;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  padding-left: 19px;
  background-color: var(--general-white);
}

.top-section__check {
  width: 266px;
  height: 67px;
  border: 8px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  text-align: center;
}
.top-section__check:focus {
  border: 3px solid var(--accent-yellow);
  border-radius: 8px;
}

.top-section__destination:focus {
  border: 3px solid var(--accent-yellow);
  border-radius: 10px;
}

.top-section__people:focus {
  border: 3px solid var(--accent-yellow);
  border-radius: 8px;
}

.top-section__people {
  width: 323px;
  height: 67px;
  border: 8px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  text-align: center;
  border: none;
}

.top-section__button {
  width: 196px;
  height: 70px;
  cursor: pointer;
  background-color: var(--button-color);
  border-radius: 8px;
  border: none;
  font-size: 24px;
  color: var(--general-white);
}

.top-section__apps {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding-top: 68px;
}

.search-container__hidden {
  display: none;
}

/*Advantage's" style*/
.advantage-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 12px;
}

.advantage-container__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantage-container__border-line:after {
  content: "";
  position: absolute;
  transform: translate(-51px);
  background-color: var(--accent-yellow);
  height: 4px;
  width: 100px;
}

.advantage-container__heading-title {
  font-size: 40px;
  margin-top: 112px;
  margin-bottom: 20px;
  height: 45px;
  text-align: center;
}

.advantage-container__navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 81px;
  margin: 86px 0 82px 0;
}

.advantage-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.advantage-container__image-support {
  width: 75px;
  height: 92px;
  gap: 30px;
  background-position: 349px 1px;
  background-image: url("../Images/advantage-icons.svg");
}

.advantage-container__image-communicate {
  width: 84px;
  height: 92px;
  gap: 30px;
  background-position: 274px -5px;
  background-image: url("../Images/advantage-icons.svg");
}

.advantage-container__image-booking {
  width: 103px;
  height: 92px;
  gap: 30px;
  background-position: 190px -8px;
  background-image: url("../Images/advantage-icons.svg");
}

.advantage-container__image-reviews {
  width: 87px;
  height: 92px;
  gap: 30px;
  background-position: 87px -2px;
  background-image: url("../Images/advantage-icons.svg");
}

.advantage-container__icon-text {
  font-size: 24px;
  margin-top: 56px;
  text-align: center;
}

/*Guests section*/
.guests-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--light-blue);
}

.guests-container__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.guests-container__heading-title {
  font-size: 40px;
  margin-top: 107px;
  height: 47px;
  text-align: center;
}

.guests-container__navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 81px;
  margin: 106px 0 117px 0;
  position: relative;
}

.guests-container__item {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.guests-container__image-hotel {
  width: 296px;
  height: 296px;
  background-image: url("../Images/hotel.svg");
}

.guests-container__image-apartment {
  width: 296px;
  height: 296px;
  background-image: url("../Images/apartment.svg");
}

.guests-container__image-villa {
  width: 296px;
  height: 296px;
  background-image: url("../Images/villa.svg");
}

.guests-container__image-hostel {
  width: 296px;
  height: 296px;
  background-image: url("../Images/hostel.svg");
}

.guests-container__name {
  font-size: 24px;
  margin-top: 24px;
  text-align: start;
  color: var(--button-color);
}

.guests-container__place {
  font-size: 24px;
  margin-top: 24px;
  text-align: start;
  color: var(--gray-line);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28%;
  right: 5.5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--stroke-color);
  box-shadow: 4px 4px 10px -3px var(--text-color);
}

.polygon {
  width: 9px;
  height: 21px;
  background-image: url("../Images/polygon.svg");
}

.places {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

/* Footer's styles*/
.footer {
  width: 100%;
  height: 100vh;
  padding: 59px 60px;
  background-color: var(--general-blue);
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  font-weight: 400;
  font-size: 20px;
  color: var(--general-white);
}

.footer__container {
  display: flex;
  margin-top: 60px;
  background-color: var(--general-blue);
  font-weight: 400;
  font-size: 20px;
  color: var(--general-white);
}

.footer__items {
  width: 31.6%;
}

.items__size {
  font-weight: 500;
}

.footer__copyright {
  display: flex;
  justify-content: flex-start;
  color: var(--general-white);
  font-size: 14px;
  font-weight: 400;
  padding-left: 40px;
}

.footer__hidden {
  display: none;
}

@media (max-width: 860px) {
  .advantage-container__heading-title {
    font-size: 28px;
    margin-top: 28px;
    margin-bottom: 32px;
    height: 33px;
    text-decoration-line: none;
  }

  .advantage-container__border-line {
    display: none;
  }

  .advantage-container__navigation {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 0;
  }

  .advantage-container__item {
    width: 100%;
  }

  .footer__hidden {
    display: inline-block;
    margin-top: 31px;
  }

  .footer__items-hide {
    display: none;
    font-size: 18px;
  }

  .items__size {
    text-decoration-line: underline;
    font-size: 15px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: auto;
  }

  .footer__container {
    width: 100%;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 10px;
  }

  .footer__items {
    width: 30%;
  }

  .footer__copyright {
    margin-bottom: 61px;
    font-size: 12px;
    padding: 0;
  }

  .hamburger-menu {
    display: block;
  }

  .top-section__header-text {
    display: none;
  }

  .top-section__logo {
    width: 122px;
    height: 24px;
    background-image: url("../Images/logo.svg");
    background-position: 0 48px;
  }

  .top-section__logo-night {
    width: 16px;
    height: 16px;
    background-position: 352px 0;
    background-image: url("../Images/Night.svg");
  }

  .top-section__logo-account {
    width: 24px;
    height: 24px;
    background-position: 312px 0;
    background-image: url("../Images/AccountCircle.svg");
  }

  .top-section__header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-top: 30px;
    gap: 88px;
  }

  .top-section__items {
    align-items: baseline;
    gap: 20px;
  }

  .top-section__main-title {
    margin-top: 40px;
    padding-left: 17px;
    font-size: 30px;
  }

  .top-section__search-container {
    display: none;
  }

  .search-container__hidden {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 328px;
    height: 232px;
    margin-top: 31px;
    background-color: var(--accent-yellow);
  }

  .hide {
    width: 100%;
    height: 48px;
    border-radius: 4px;
  }

  .hidden__destination {
    outline: none;
    border: none;
    padding-left: 10px;
  }

  .check {
    display: flex;
    justify-content: space-around;
  }

  .check-in {
    outline: none;
    border: none;
    padding-left: 10px;
  }

  input::placeholder {
    transition: 0.5s;
    color: var(--gray-line);
  }

  input:focus::placeholder {
    font-size: 12px;
    transform: translateY(-14px);
  }

  .check-out {
    outline: none;
    border: none;
    padding-left: 10px;
  }

  .check-border__1 {
    border-width: 4px 4px 8px 8px;
    border-color: var(--accent-yellow);
    border-style: solid;
  }

  .check-border__2 {
    border-width: 4px 8px 8px 4px;
    border-color: var(--accent-yellow);
    border-style: solid;
  }

  .people {
    display: flex;
    background-color: var(--general-white);
    border-width: 8px 8px;
    width: 95%;
    margin-left: 9px;
    border-radius: 4px;
    border-color: var(--general-white);
    border-style: solid;
  }

  .children-item {
    border: none;
    outline: none;
    border-left: 1px solid var(--gray-line);
    border-right: 1px solid var(--gray-line);
  }

  .adults {
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
  }

  .rooms {
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
  }

  .hide-people {
    width: 100%;
    height: 36px;
    padding-left: 5px;
  }

  .button__hide {
    border-width: 8px;
    border-color: var(--accent-yellow);
    border-style: solid;
  }

  .button {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--button-color);
    font-size: 19px;
    color: var(--general-white);
  }

  .destination {
    border-width: 8px 8px 4px 8px;
    border-color: var(--accent-yellow);
    border-style: solid;
  }

  .top-section {
    align-items: center;
  }

  .guests-container__heading-title {
    font-size: 28px;
    margin-top: 40px;
    height: 33px;
    text-align: center;
  }

  .villa {
    display: none;
  }

  .hostel {
    display: none;
  }

  .guests-container__item {
    width: 50%;
  }

  .guests-container__navigation {
    margin: 30px 0 40px 0;
    padding: 0;
    justify-content: space-evenly;
  }

  .guests-container__image-hotel {
    background-size: 155px 155px;
  }

  .guests-container__image-apartment {
    background-size: 155px 155px;
  }

  .guests-container__name {
    font-size: 12px;
  }

  .guests-container__place {
    font-size: 12px;
  }

  .circle {
    width: 28px;
    height: 28px;
    right: -2%;
    top: 26%;
  }

  .polygon {
    width: 7px;
    height: 15px;
    background-position: -14px 15px;
    background-image: url("../Images/polygon-lit.svg");
  }
}

@media (max-width: 1390px) {
  .villa {
    display: none;
  }

  .guests-container__image-hotel {
    background-size: 155px 155px;
    width: 155px;
    height: 155px;
  }

  .guests-container__image-apartment {
    background-size: 155px 155px;
    width: 155px;
    height: 155px;
  }

  .guests-container__image-hostel {
    background-size: 155px 155px;
    width: 155px;
    height: 155px;
  }

  .guests-container__item {
    width: 33%;
  }

  .guests-container__navigation {
    justify-content: space-evenly;
  }

  .places {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
